




*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    color: #454545;
    font-weight: 300;
    background: #ffffff;
}

a {
    color: #333333;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
    color: #454545;
    font-weight: 150;
}



h1 {
    font-weight: 800;
}

img {
    width: 100%;
    height: auto;
}






/**********************************/
/***** Layout & Section Title *****/
/**********************************/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .column {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .column {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .column {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.section-title {
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}
.section-title::after {
    position: absolute;
    content: "";
    width: 50px;
	margin-top:10px;
    height: 5px;
    left: calc(50% - 25px);
    background: #353535;
}

.section-title h2 {
    font-size:50px;font-weight:700;line-height:1.2;
	text-align:center;
}

@media(max-width: 767.98px) {
    .section-title h2 {
        font-size: 40px;
        letter-spacing: 3px;
    }
}

@media(max-width: 567.98px) {
    .section-title h2 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}









/**********************************/
/********* Team #3 Style **********/
/**********************************/
.team-3 {
    margin-bottom: 30px;
}

.team-3 .team-img {
	margin-left: auto;
    margin-right: auto;
	align-items:center;
	width: 300px;
    font-size: 0;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.team-3 .team-img img {
	align-items:center;
    width: 100%;
    height: auto;
}


.team-3 .team-content {
    padding: 70px 20px 20px 20px;
    margin-top: -50px;
    text-align: center;
    background: #f3f4fa;
    transition: all .5s;
}

.team-3:hover .team-content {
    background: #1E5128;
}

.team-3:hover .team-content h2,
.team-3:hover .team-content h3,
.team-3:hover .team-content h4,
.team-3:hover .team-content p {
    color: #ffffff;
}

.team-3 .team-content h2 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

.team-3 .team-content h3 {
    font-size: 16px;
    font-weight: 300;
}

.team-3 .team-content h4 {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.team-3 .team-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}




/**********************************/
/********* Team #5 Style **********/
/**********************************/
.team-5 {
    margin-bottom: 30px;
}

.team-5 .team-img {
    position: relative;
    font-size: 0;
    text-align: center;
}

.team-5 .team-img img {
    width: 160px;
    height: auto;
    border-radius: 100%;
    border: 20px solid #f3f4fa;
}

.team-5 .team-content {
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background: #f3f4fa;
    border-radius: 10px;
}

.team-5 .team-content h2 {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
	margin-top:5px;
	margin-bottom:5px;
}

.team-5 .team-content h3 {
    font-size: 16px;
    font-weight: 300;
	margin-top:5px;
	margin-bottom:5px;
}

.team-5 .team-content h4 {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 0;
	margin-top:5px;
	margin-bottom:5px;
}

.team-5 .team-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
	margin-top:5px;
	margin-bottom:5px;
}




/* STYLE 6
   ----------------------------- */
   
.six h1 {
	margin-top:100px;
	padding-bottom:20px;
  text-align: center;
  color:#1E5128; font-size:30px; font-weight:800;
  text-transform: uppercase;
  word-spacing: 1px; letter-spacing:2px; 
  position: relative;

  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.six span {
  line-height:2em; padding-top:20px;
  text-transform: none;
  font-size:.10px;
  font-weight: normal;
  font-style: italic; font-family: "Playfair Display","Bookman",serif;
  color:black; letter-spacing:0.009em; word-spacing:1px;
  letter-spacing:none;
    display: block;
  font-size: 2em;
  line-height: 1.3;
  text-align:center;
}
.six h1:after, .six h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45px;
  height: 4px;
  content: "";
  right: 45px; 
  margin:auto;
  background-color: #ccc;
}
.six h1:before { 
background-color:#1E5128;
  left:45px; width:90px;
}

.six #bspan:before {
	  position: absolute;
  left: 0;
  width: 60%;
  left:50%; margin-left:-30%;
  height: 1px;
  content: "";
  background-color: #777; z-index: 4;
}
.six #aspan:after {
  position:absolute;
  width:40px; height:40px; left:50%; margin-left:-20px; 
  content: '\00a7'; font-size:30px; line-height:40px; color:#1E5128;
  font-weight:400; z-index: 5;
  display:block;
  background-color:white;


}
#tophead {
  position: relative;

}
